<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    Hola Mundo
    <input type="text" id="text">
    <br>
    <button onclick="requestTest()">Prueba</button>
    <br>
    <div id="result"></div>
</body>
</html>

<script>
    console.log('hola')
    function requestTest(){
        console.log('hola2')
        params = document.getElementById("text")
        $.ajax({
            type:'POST',
            url:'/test_request',
            data: {'params':params},
            contentType:false,
            cache:false,
            processData:false,
            success: function(data){
                console.log(data)
                $("#result").html(data)
            }
        })
    }
</script>